page-home {
  ion-grid {
    height: 100%;

    ion-row {
      height: 50%;

      .round-btn {
        text-decoration: none;
        // background: #ff3300;
        color: #FFF;
        width: 170px;
        height: 170px;
        line-height: 10px;
        border-radius: 50%;
        font-weight: bold;
        font-size: 3em;
        overflow: hidden;
        box-shadow: 0 0 10px #000000;
      }
    }
  }
}