<ion-header>
  <ion-navbar>
    <ion-title>تاریخچه</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="clearHistory()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="history-page">
  <div *ngIf="history.length == 0" text-center text-justify>
    <ion-label>Empty ...</ion-label>
  </div>

  <ion-list>
    <ion-card class="rtl" *ngFor="let item of history">
      <ion-row>
        <ion-col (click)="showMap(item.s_lat, item.s_lon)">از:<h5 ion-text color="primary"> {{item.s_lat}},
            {{item.s_lon}}</h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col (click)="showMap(item.d_lat, item.d_lon)">تا:<h5 ion-text color="primary"> {{item.d_lat}},
            {{item.d_lon}}</h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>فاصله: {{item.distance | convertdigit}} کیلومتر</ion-col>
        <ion-col>میانگین سرعت: {{item.avgSpeed | convertdigit}} km/h</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>مدت زمان: {{item.time | convertdigit}} دقیقه</ion-col>
        <ion-col>تاریخ: {{item.date | convertdigit}}</ion-col>
      </ion-row>
    </ion-card>
  </ion-list>

</ion-content>