<ion-header>
  <ion-navbar>
    <ion-title>محاسبه سرعت</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-card class="rtl">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>فاصله پیموده شده:</ion-label>
          </ion-col>
          <ion-col>
            <h2 margin-top float-left ion-text>{{distanceCovered | convertdigit}}</h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label>سرعت:</ion-label>
          </ion-col>
          <ion-col>
            <h2 margin-top float-left ion-text>{{speed | convertdigit}}</h2>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- <ion-item *ngIf="calculating">
        <div class="speedometer">
          <span class="speed-marker-1">&nbsp;</span>
          <span class="speed-marker-2">&nbsp;</span>
          <span class="speed-marker-3">&nbsp;</span>
          <span class="speed-marker-4">&nbsp;</span>
          <span class="speed-marker-5">&nbsp;</span>
          <span class="speed-marker-6">&nbsp;</span>
          <span class="speed-marker-7">&nbsp;</span>
          <span class="speed-marker-8">&nbsp;</span>
          <span class="speed-marker-9">&nbsp;</span>
          <span class="speed-marker-10">&nbsp;</span>
          <span class="speed-marker-11">&nbsp;</span>
          <span class="speed-marker-12">&nbsp;</span>
          <span class="speed-marker-13">&nbsp;</span>
          <p class="speed">{{speed}};<span>km/h</span></p>
        </div>
      </ion-item> -->

    </ion-card-content>
  </ion-card>

  <button *ngIf="!calculating" ion-button round full color="danger" (click)="startCalculation()">شروع</button>
  <button *ngIf="calculating" ion-button round full color="danger" (click)="stopCalculation()">پایان</button>
</ion-content>